/* 

Reset 

*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 30px;
}

header h1, header img{
    vertical-align: middle;
}

h1{
    display: inline-block;
}
body{
    background-color: lightgray;
}
.container{
    width: 80%;
    margin: 0 auto;
}
#listacontent1{
    background-color: white;
    padding: 10px;
}
.buttonhd{
    margin-left: 20px;
}
.buttonblu{
    background-color: blue;
    border-color: blue;
    color: white;
}
.buttongray{
    background-color: blanchedalmond;
    border-color: blanchedalmond;
    color: gray;
}
.buttonorange{
    background-color: orange;
    border-color:orange;
    color: yellow;
}
.buttongiallo{
    background-color:yellow;
    border-color: yellow;
    color: purple;
}
button{
    border-radius: 20px;
    height: 30px;
    width: auto;
    margin-left: 25px;
    margin-top: 20px;
}
.lista{
    margin-top: 20px;
    margin-left: 25px;
}
li, ol{
    list-style: none;
}
#green{
    border-color: green;
    color: green;
}
#red{
    border-color: red;
    color: red;
}
.V, .X{
    border-radius: 50%;
    border: 1px solid ;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}